@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Love+Ya+Like+A+Sister&family=Rubik+Spray+Paint&display=swap');




.logoSplash{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
}
.logoSplash > p{
    font-family: "Love Ya Like A Sister", cursive;
    font-size: 1.9em;
    margin: 15px;
   background-color: #fafafa;
    

}


.L-button{
    background-color: #e55812;
    width: 15em;
    border-radius: 10px;
   
}
.L-button:hover{
    background-color: #f56b26;
  
   
}
.L-button > a{
    font-family: "Love Ya Like A Sister", cursive;
    color: white;
}

.S-button{
    background-color: #95c623;
    
    width: 15em;
    border-radius: 10px;
}

.S-button:hover{
    background-color: #abdd36;
   
}
.S-button > a{
    
    font-family: "Love Ya Like A Sister", cursive;
    color: white;
    
}
.SL-buttons{
    text-align: center;
    display: flex;
    justify-self: center;
    gap: 50px;  
   position: relative;
   top: 650px;
}

.splashImages{
    height: 300px;
    position: absolute;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
}

.splashImages:hover{
  transform:  translate(5px,5px);


}

#wood{
    top:210px;
    right: 700px;
    z-index: 1;

}
#sculpture{
    top:220px;
    left:700px;
    z-index: 4;
}


#printing{
z-index: 3;
top: 450px;
left: 700px;
height: 300px;  
}

#candle{
    z-index: 2;
    top: 440px;
    right: 680px;
}